<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <div>Please enter your details:</div>
    <form>
        <input type="text" [(ngModel)]="nuser.name" name="usernameField"><br>
        <input type="text" [(ngModel)]="nuser.pword" name="passwordField"><br>
        
        
    </form>
      <button (click)='formsubmit()'>Submit</button>
    
</body>
</html>
