<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profile</h1>
    <div id="UserDetails" *ngIf="makingUser == false">

        <form action="GET">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="currentUser.username" value="{{currentUser.username}}"><br>
            
            <label for="birthdate">Birthdate:</label>
            <input type="text" id="birthdate" name="birthdate" [(ngModel)]="currentUser.birthdate" value="{{currentUser.birthdate}}"><br>
            
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" [(ngModel)]="currentUser.email" value="{{currentUser.email}}"><br>
            
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" [(ngModel)]="currentUser.password" value="{{currentUser.password}}"><br>
            
            <label for="level">Rank:</label>
            <input type="text" id="level" name="level" value="{{currentUser.level}}" disabled><br>
            <button class="profileButtons" (click)="saveData()">Save</button>
        </form>
        </div>
       
        <div>
            <button id="newuserButton" class="profileButtons" *ngIf="userStat == true && makingUser ==false" (click)="createUser()">Create New User</button>
            <div id="makingUser" *ngIf="makingUser == true">
                <form action="GET">
                <label for="nusername">New User Username:</label>
                <input type="text" id="nusername" name="nusername" [(ngModel)]="newuser.username" value="{{newuser.username}}"><br>
                
                <label for="npassword">New User Password:</label>
                <input type="text" id="npassword" name="npassword" [(ngModel)]="newuser.password" value="{{newuser.password}}"><br>
                
                <label for="nlevel">New User Rank:</label>
                <input type="text" id="nlevel" name="nlevel" [(ngModel)]="newuser.Level" value="{{newuser.Level}}" ><br>
                <button style="width: 100%;" generatingButtons class="profileButtons" (click)="generateUser()">Generate User</button>
                </form>
                
                <div *ngIf="makingUser == true">
                    <button id="cancelButton" class="profileButtons" (click)="createUser()" >Cancel</button>
                </div>
            </div>
        </div>


    <div id="bottombar">
        <button (click)="home()" id="home" >Groups</button>
        <button (click)="logOut()" id="profile" >Log out</button>
    </div>
</body>
</html>
