h1{
    text-align: center;
    color: #260F26;
}

#UserDetails{
    text-align: center;
}
label{
    padding-right: 10%;
}


form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    
}

.profileButtons{
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #404E7C;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}


#newuserButton{
 text-align: center;
 width: 100%;
}

.makingUser{
    text-align: center;
}

#cancelButton{
    width: 100%;
    text-align: center;
    background-color: #86CB92;
    color: #260F26;
}