<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channels</title>
</head>
<body>
    <div><h1>hello</h1></div>


    <div id="bottom bar"></div>
    <div style="margin-left: 0%; padding-left: 0%;  width: 100%; position: absolute; bottom: 0; left: 0;">
        <button (click)="home()" id="home" style="width: 50%; height: 5em; ">Groups</button>
        <button (click)="profile()" id="prfile" style="width: 50%; height: 5em; ">Profile</button>
    </div>
</body>
</html>
