<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channels</title>
</head>
<body>
    <div><h1>hello</h1></div>

    <div>
        <ul (click)="channelselect($event)">
            <li *ngFor="let channels of channels; index as i">
                {{channels}}
            </li>
        </ul>
        <div *ngIf="admin == true">
            <form>
                <label for="nChanlle">New Group Name:</label>
                <input type="text" [(ngModel)]="nChannel" name="nChanlle"><br>
            </form><button (click)="createChannel()">New Channel</button>
    </div>
</div>

    <div id="bottombar">
        <button (click)="home()" id="home" >Groups</button>
        <button (click)="profile()" id="profile" >Profile</button>
    </div>
</body>
</html>
