<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Channels</title>
</head>
<body>
    <div id="location"><h1>{{currentGroupDetails.name}}</h1></div>

    <div>
        <ul (click)="channelselect($event)">
            <li *ngFor="let channels of channels; index as i">
                {{channels}}
            </li>
        </ul>

        <div *ngIf="admin == true">
            <form id="newChannel">
                <input id="channelName" type="text" [(ngModel)]="nChannel" name="nChanlle" placeholder="New Channel Name"><br>
                <button id="channelButton" (click)="createChannel()">New Channel</button>
            </form>
        </div>

    </div>

    <div *ngIf="delete == true" id="div2">
        <ul (click)="deleteChannel($event)">
            <li *ngFor="let channels of channels; index as i">
                {{channels}}
            </li>
        </ul>
    </div>

    <div *ngIf="admin == true" id="deletebutton">
        <button id="editbutton" (click)="EngageDelete()">Edit Channels</button>
    </div>

    <div id="bottombar">
        <button (click)="home()" id="home" >Groups</button>
        <button (click)="profile()" id="profile" >Profile</button>
    </div>
</body>
</html>
