<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in Page</title>
</head>
<body id="grad">
    <h1 id="welcome">Welcome to Izaiah's Chat App for 3813ICT.</h1>
    <form id="login">
        <div><h2>Please Sign In:</h2></div>
        <input type="text" [(ngModel)]="cuser.name" name="usernameField" placeholder="Username"><br>
        <input type="text" [(ngModel)]="cuser.pword" name="passwordField" placeholder="Password"><br>
        <button (click)='formsubmit()'>Submit</button>
    </form>
      

</body>
</html>