<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in Page</title>
</head>
<body>
    <h2>Welcome to Izaiah Chat App for 3813ICT.</h2>
    <form>

        <div><h2>Please sign in</h2></div>
        <input type="text" [(ngModel)]="cuser.name" name="usernameField"><br>
        <input type="text" [(ngModel)]="cuser.pword" name="passwordField"><br>
        
        
    </form>
      <button (click)='formsubmit()'>Submit</button>

</body>
</html>