<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Welcome {{username}}</h2>
    
    <div id="div1">
        <ul (click)="groupselect($event)">
            <li *ngFor="let groups of usergroups; index as i">
                {{usergroups[i]}}
            </li>
        </ul>
    </div>

    <div id="bottombar">
        <button (click)="home()" id="home" >Groups</button>
        <button (click)="profile()" id="profile" >Profile</button>
    </div>
</body>
</html>