<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Welcome {{username}}</h2>
    
    <div *ngIf="delete == false" id="div1">
        <ul (click)="groupselect($event)">
            <li *ngFor="let groups of usergroups; index as i">
                {{usergroups[i].name}}
            </li>
        </ul>
        <div *ngIf="admin == true">
            <form>
                <label for="nusername">New Group Name:</label>
                <input type="text" [(ngModel)]="newgroup.name" name="groupname"><br>
            </form>

        </div>
    </div>

    <div *ngIf="delete == true" id="div2">
        <ul (click)="deleteGroups($event)">
            <li *ngFor="let groups of usergroups; index as i">
                {{usergroups[i].name}}
            </li>
        </ul>
    </div>

    <div id="deletebutton">
        <button (click)="EngageDelete()">Edit Groups</button>
    </div>
    <div id="bottombar">
        <button *ngIf="admin == false" (click)="home()" id="home">Groups </button>
        <button *ngIf="admin == true" (click)="createGroup()" id="home">New Group</button>
        <button (click)="profile()" id="profile" >Profile</button>
    </div>
</body>
</html>