li{
    list-style: none;
    margin: 1em;
    margin-left: auto;
    background-color: #260F26;
    text-align: center;
    text-justify: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #86CB92;
    text-decoration: solid;
    font-size: x-large;
    text-transform: capitalize;
    border-radius: 9px;
}


h2{
    padding-top: 1em; 
    margin: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #260F26;
    text-decoration: underline;
}

html{
    padding: 0%;
    margin: 0%;
    height: 100vh;
    background-color: #71B48D;
}

#groupCreate{
    margin-bottom: 0%;
    padding-bottom: 0;
}

#ngroup{
    align-self: center;
    position: absolute; 
    bottom: 5em; 
    width: 49%;
}
#groupInput{
    margin-left: 2.5%;
    width: 90%;
    text-align: center;
    height: 1.5em;
    border-radius: 9px;
    background-color: #71B48D;
}

::placeholder{
    color: #260F26;
    opacity: 3;
    font-size: larger;
}

#editButton{
    font-size: larger;
    color: #260F26;
    margin-left: 2.5%;
    width: 90%;
    text-align: center;
    height: 1.4em;
    border-radius: 9px;
    background-color: #71B48D;
}

#deletebutton{
    align-self: center;
    position: absolute; 
    bottom: 5em; 
    width: 49%;
    left: 50%;
}